@charset "UTF-8";


/* Importando fonte */
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@580&display=swap');

/* Definindo cores para serem usados no projeto todo */
:root {
    --cor_a: #2B2D42;
    --cor_b: #8D99AE;
    --cor_c: #EDF2F4;
    --cor_d: #DCDCDC;
}

:root {
    --img01: url("Dreikkkkkk.jpg");
    --img03: url("buracuNegru.jpg")
}
/* Definindo uma cor de fundo para o site inteiro e resetando a margen */
body {
    background-color: var(--cor_c);
    margin: 0px;
}
/* Defino um header em flex e justify items/content para center, para centralizar a div dentro do header que contem o logo. */
header {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: var(--cor_a);
    z-index: 999;
    width: 100vw;
    height: 20vh;
}

.logo img {
    display: flex;
    justify-content: center;
    border-radius: 100vw;    
}

nav {
    height: 20vh;
    position: sticky;
    z-index: 999;
}

.Principal {
    box-shadow: grey 0px 5px 5px;
    border-radius: 3%;
    padding-bottom: 25px;
    text-decoration: none;
    width: 100vw;
}

.text1 {
    font-family: 'Glory';
    text-decoration: none;
    color: black;
    margin: 0 40px;
}

.text1 h1, .text h1{
    text-align: center;
}

.principalImg {
    width: 100vw;
    height: 100vh;
}

.Principal:hover {
    animation: box 0.2s;
    animation-fill-mode: forwards;
    text-decoration: none;

}

.noticias {
    display: grid;
    grid-template-columns: 1fr 450px 450px 450px 1fr;

}

.box {
    box-shadow: grey 0px 5px 5px;
    border-radius: 3%;
    margin-right: 10px;
    padding-bottom: 25px;
    margin: 8px;
    position: relative;
}

.box>img {
    width: 100%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.text {
    padding-top: 0px;
    font-family: 'Glory';
    text-align: justify;
    padding-right: 5px;
    padding-left: 5px;
    color: black;
}

.text>h1 {
    margin: 0px;
}

.text>p {
    margin-bottom: 0px;
}

.box:hover {
    animation: 0.2s;
    animation-name: box;
    animation-fill-mode: forwards;

}

footer {
    background-color: #ccc;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.by {
    display: block;
    font-family: 'Glory';
    text-align: center;
    font-size: 120%;
    opacity: 50%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 30px
}

.barra {
    background-color: var(--cor_a);
    height: 60px;
    padding: 0px;
    margin-top: 0px;
}

form {
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  fieldset {
    border: none;
    padding: 20px;
  }
  
  legend {
    font-weight: bold;
    color: #333;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  label {
    display: inline-block;
    width: 100px;
    vertical-align: top;
  }
  
  input {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    width: 100px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
  }

@keyframes box {
    0% {
        transform: scale(1);
        background-color: var(--cor_c);
    }

    100% {
        transform: scale(1.03);
        background-color: var(--cor_d);
    }
}

.pagNoticias {
    display: grid;
    grid-template-columns: 1fr 1350px 1fr;
    padding-top: 8px;
}

.text2 {
    font-family: 'Glory';
    text-align: left;

}

.text2>h1 {
    font-size: 55px;
    padding-left: 8px;
}

.text2>p {
    font-size: 25px;
    opacity: 80%;
    padding-left: 8px;
}

.fotoMeiaTela {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 8px;
    font-size: 25px;
}

.fotoMeiaTela>p {
    opacity: 80%;
}

@media (max-width: 1400px) {
    nav {

        grid-template-columns: 1fr 1fr 1fr;
    }

    .noticiaPrincipal {
        grid-template-columns: 1fr;
    }

    .noticias {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .lateralH {
        display: none;
    }

    .pagNoticias {
        grid-template-columns: 1fr;
    }

    .Principal {
        margin: 15px;
        margin-top: 8px;
    }

    .box {
        margin: 15px;
    }
}

@media(max-width: 1000px) {
    .noticias {
        grid-template-columns: 1fr 1fr;
    }

    .Principal {
        margin: 15px;
        margin-top: 8px;
    }

    .box {
        margin: 15px;
    }

}

@media (max-width: 600px) {
    .noticiaPrincipal {
        grid-template-columns: 1fr;
    }

    .noticias {
        grid-template-columns: 1fr;
    }

    .box {
        margin: 15px;
    }

    .Principal {
        margin: 15px;
        margin-top: 8px;
    }

    .fotoMeiaTela {
        grid-template-columns: 1fr;
    }
}

.body {
    background-color: white;
    transition: .6s;
}


/* Essas variavéis são aplicadas quando darkMode é adicionado ao body, deixando o site em modo escuro */
.darkMode {
    background-color: var(--cor_a);
}

.darkMode div {
    color: white;
}

.darkMode div:hover {
    color: black;
}

.darkMode header {
    background-color: var(--cor_b);
}

.darkMode .barra {
    background-color: var(--cor_b);
}

img {
    transition: .12s;
}